# SQLite database
*.db
*.db*
*.csv

# Environment variables and credentials
.env
.envrc

# Large data files
**/*.live_chat.json
**/*.info.json
**/*.sql

# Include specific SQL files
!saved_queries/**/*.sql
!misc/**/*.sql

# Rust build artifacts
target/
